body#home #logo {
	float: left;
	width: 190px;
}

body#home #about {
	float: left;
	width: 390px;
}

ul#repos {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

span.fork {
	color: #f00;
}

* html body {
	overflow: hidden;
}
* html #content {
	height: 100%;
	overflow: auto;
}
body {
	color: #333333;
	font-family: Georgia;
	font-size: 16px;
	line-height: 1.5;
}