body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-top: 40px;
}
h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 3em;
}
dd {
    font-weight: normal;
    padding-left: 8px;
}
#content {
    background-color: #fffbfb;
}
footer {
    text-align: center;
}